@import '../../animations/fadeInDownBig';
@import '../../animations/rotateInDownLeft';
@import '../../animations/rotateInDownRight';

.mgm-headshot {
  background-color: $color-blue;
  color: $color-white;
  height: 250px;
  padding-top: 120px;
  text-align: center;
  width: 300px;
}

.about {
  background-color: $color-white;
  flex-direction: column;
}

.about-inner {
  flex-direction: row;
  @media all and (max-width: $break-small) {
    flex-direction: column;
  }

  * {
    flex: 1;
  }
}
