@import '../../animations/fadeInDownBig';
@import '../../animations/rotateInDownLeft';
@import '../../animations/rotateInDownRight';

.mgm-headshot {
  background: url('./images/headshot.jpg') no-repeat center;
  background-size: contain;
  border: 1px solid $color-primary;
  border-radius: 125px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.about {
  background-color: $color-white;
  flex-direction: column;
}

.about-inner {
  flex-direction: row;
  @media all and (max-width: $break-small) {
    flex-direction: column;
    margin: 0 20px;
  }

  * {
    flex: 1;
  }
}
