@import '../../base';

.footer {
  border-top: 1px solid $color-blue-light-border;
  background-color: $color-blue;
  display: flex;
}

.icons {
  padding: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.resume,
.linkedin,
.twitter,
.github {

  margin: 0 5px;

  svg {
    fill: $color-yellow;
    height: 40px;
    width: 40px;
  }
}
