html,
body {
  height: 100%;
  width: 100%;
}

.chart-wrapper {
  text-align: center;
}

.input-wrapper {
  width: 100%;
  text-align: center;
}

input {
  height: 24px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  border-color: #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
}

button:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
