@import '../../base';

.resume {
  width: 100%;
  height: 100%;
  background: url('../../images/nyc-background.jpg') no-repeat center fixed;
  background-size: cover;
  p {
    font-weight: 300;
  }
}

.mgm-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.name {
  flex-direction: column;
  color: white;
  h1 {
    margin: 0;
    font-size: 63px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    @media all and (max-width: $break-small) {
      font-size: 48px;
    }
    @media all and (max-width: $break-v-small) {
      font-size: 32px;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    @media all and (max-width: $break-v-small) {
      flex-direction: column;
      align-items: center;
    }
    li:nth-child(2) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.mgm-header {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  color: $color-primary;
}

.mgm-headshot {
  height: 150px;
  width: 300px;
  color: white;
  text-align: center;
  padding-top: 150px;
  background-color: darkgray;
}

.about, .skill {
  flex-direction: column;
}

.mgm-inner {
  margin: 0 100px;
  display: flex;
}

.about-inner {
  flex-direction: row;

  @media all and (max-width: $break-small) {
    flex-direction: column;
  }

  * {
    flex: 1;
  }
}

.skills-inner {
  flex-direction: column;
}

.skill {
  align-items: center;
}
