@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

$font-family: 'Source Sans Pro';
$color-primary: rgba(0, 138, 182, 1);
$color-blue: #193549;
$color-blue-light: #d7f9f1;
$color-off-white: #e0e1dd;
$color-pink: #ffa5f3;
$color-green-bright: #2eff00;
$color-green-sea: #80ffc2;
$color-yellow: #ffc600;
$color-orange: #cd733e;

$icon-gray: #757575;
$break-large: 1200px;
$break-small: 768px;
$break-v-small: 500px;
