@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

$font-family: 'Source Sans Pro';
$color-primary: rgba(0, 138, 182, 1);
$color-blue: #193549;
$color-blue-light: #D7F9F1;
$color-off-white: #E0E1DD;
$color-pink: #FFA5F3;
$color-green-bright: #2EFF00;
$color-green-sea: #80FFC2;
$color-yellow: #ffc600;
$color-orange: #cd733e;

$icon-gray: #757575;
$break-large: 1200px;
$break-small: 768px;
$break-v-small: 500px;
