.mgm-nav {
  background-color: $color-blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  a {
    color: $color-white;
    margin-left: 10px;
    text-decoration: none;
  }

  span {
    font-size: 36px;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
  }
}

.nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
