.under-construction {
  background-color: $color-black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: .75;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.construction-banner {
  opacity: 1;
  position: relative;
  z-index: 150;
  h1 {
    margin: 0;
    text-shadow: 2px 2px $color-black;
  }
}

.skills {
  background-color: $color-off-white;
  // flex-direction: column;
  height: 100%;
  width: 100%;

  // Remove once not under construction
  h2 {
    padding-top: 96px;
  }
}

.mgm-logos {
  display: flex;
  flex-wrap: wrap;
}

.mgm-logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  width: 180px;
}

.docker-logo {
  background-image: url('./images/docker-logo.png');
}

.javascript-logo {
  background-image: url('./images/javascript.png');
}

.mesos-logo {
  background-image: url('./images/mesos.png');
}

.reactjs-logo {
  background-image: url('./images/reactjs.svg');
}

.angularjs-logo {
  background-image: url('./images/angularjs.png');
}

.marathon-logo {
  background-image: url('./images/marathon.png');
}

.sass-logo {
  background-image: url('./images/sass.png');
}

.nodejs-logo {
  background-image: url('./images/nodejs.png');
}

.gulp-logo {
  background-image: url('./images/gulp.png');
}
