.under-construction {
  background-color: $color-black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: .75;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.construction-banner {
  opacity: 1;
  position: relative;
  z-index: 150;
  h1 {
    margin: 0;
    text-shadow: 2px 2px $color-black;
  }
}

.skills {
  background-color: $color-off-white;
  // flex-direction: column;
  height: 100%;
  width: 100%;

  // Remove once not under construction
  h2 {
    padding-top: 96px;
  }
}

.mgm-logos {

  img {
    width: 180px;
  }
}
