@font-face {
  font-family: 'Source Sans Pro';
  src: 'sourcesanspro-light-webfont.eot';
  src: 'sourcesanspro-light-webfont.eot?#iefix' format('embedded-opentype'), 'sourcesanspro-light-webfont.woff2' format('woff2'), 'sourcesanspro-light-webfont.woff' format('woff'), 'sourcesanspro-light-webfont.ttf' format('truetype'), 'sourcesanspro-light-webfont.svg#source_sans_prolight' format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: 'sourcesanspro-regular-webfont.eot';
  src: 'sourcesanspro-regular-webfont.eot?#iefix' format('embedded-opentype'), 'sourcesanspro-regular-webfont.woff2' format('woff2'), 'sourcesanspro-regular-webfont.woff' format('woff'), 'sourcesanspro-regular-webfont.ttf' format('truetype'), 'sourcesanspro-regular-webfont.svg#source_sans_proregular' format('svg');
  font-weight: 400;
  font-style: normal;
}
