@import '../../base';
@import '../../animations/fadeInLeftBig.scss';

.experience {
  background: url('../../images/ms-background.jpg') no-repeat center fixed;
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.experience-inner {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.work {
  background-color: rgba(23, 53, 73, 0.75);

  h2 {
    font-weight: 500;
    color: white;
    padding: 10px 100px;
  }
}
