@import '../../base';

.experience {
  background: url('../../images/nyc-background.jpg') no-repeat center fixed;
  background-size: cover;
  flex-direction: column;
}

.experience-header {
  color: white;
}

.work, .work-header {
  width: 100%;
}

.work-header {
  color: $color-blue;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-blue;
}
