@import '../../base';
@import '../../animations/fadeInLeftBig';

.experience {
  align-items: flex-start;
  background: url('../../images/ms-background.jpg') no-repeat center fixed;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.experience-inner {
  align-items: flex-end;
  display: flex;
  height: 50%;
}

.work {
  background-color: rgba(23, 53, 73, .75);

  h2 {
    color: $color-white;
    font-weight: 500;
    padding: 10px 100px;
  }
}
